@model AudMVC1_1.Models.Client
@{
    ViewBag.Title = "NewClient";
}

<h2>Add new client</h2>

@using (Html.BeginForm("NewClient", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Age)
        @Html.TextBoxFor(m => m.Age, new { type="number",@class = "form-control" })
        @Html.ValidationMessageFor(m => m.Age)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.MovieCard)
        @Html.TextBoxFor(m => m.MovieCard, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MovieCard)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Telephone)
        @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Telephone)
    </div>
    <button type="submit" >Save</button>

}

